@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

body {
    font-family: 'Share Tech', sans-serif;
}
header { 
    position: fixed;
    width: 100%;
    padding: 1.5rem 2rem 1rem 2rem;
    transition: 0.6s;
    z-index: 1;
}
header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}
header .items {
    display: flex;
    align-items: center;
}
header .items img {
    position: relative;
    transition: 0.6s;
}
header .items ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-left: -1rem;
}
header .items ul li {
    position: relative;
    margin: 0.5rem 1rem 0 1rem;
}
header .items ul li a {
    position: relative;
    transition: 0.6s;
    font-family: 'Share Tech', sans-serif;
    font-size: larger;
    letter-spacing: 0.3rem;
}
header .items ul li a:link,
header .items ul li a:visited {
    color: white;
    text-decoration: none;
}
header .items ul li a:hover {
    color: #242424;
    background-color: #FFC60B;
    border-radius: 0.5rem;
    padding: 1rem;
    text-decoration: none;
}
header .items ul li .dropbtn {
    text-decoration: none;
    color: white;
}

header .items ul li .dropdown-content {
    width: fit-content;
    display: none;
    position: absolute;
    background-color: #242424;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 1rem;
    border-radius: 0.3rem;
}

header .items ul li .show {
    display: block;
}

header .dropdown {
    display: none;
}
header .buttons {
    margin-left: auto;
    display: flex;
    justify-content: center;
}

header .buttons-small {
    display: none;
}
header .brand {
    position: relative;
    transition: 0.5s;
}
header .brand:hover {
    background-color: #FFC60B;
    border-radius: 50%;
}
header.sticky {
    padding: 1.5rem 3rem;
    background-color: #ffffff;
}
header.sticky .items ul li .dropbtn {
    color: #242424;
}
header.sticky .items ul li .dropdown-content {
    color: #F6F4E6;
}
header.sticky .items ul li a.not-drop:link,
header.sticky .items ul li a.not-drop:visited {
    color:#242424;
}
header.sticky .drop a:link,
header.sticky .drop a:visited {
    color: white;
}
@media screen and (max-width: 900px) {
    header .container {
        display: block;
    }
    header .items {
        display: flex;
        justify-content: center;
    }
    header .buttons {
        margin-top: 0.5rem;
    }
}
@media screen and (max-width: 600px) {
    header .container {
        display: flex;
    }
    header .items {
        display: none;
    }
    header .dropdown {
        display: block;
    }
}
@media screen and (max-width: 530px) {
    header .items ul li a {
        letter-spacing: 0;
    }
    header .buttons {
        display: none;
    }
    header .buttons-small {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
    }
} 
@media screen and (max-width: 250px) {
    header .dropdown {
        text-align: center;
    }
    header .buttons-small {
        text-align: center;
        margin-top: 1rem;
    }
    header .container {
        display: block;
    }
}

.about-judul {
    background-color: #2C2D34;
    min-height: 50vh;
    height: fit-content;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    font-family: 'Share Tech', sans-serif;
    font-size: 5rem;
    color: #F6F4E6;
}
.about-judul .text {
    font-weight: 900;
    text-align: center;
}
@media screen and (max-width: 300px) {
    .about-judul .text {
        font-size: 20vw;
    }
}
/* UMUM */
.contents {
    background-color: #2C2D34;
    height: fit-content;
    padding: 1rem 0 3rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Share Tech', sans-serif;
    color: #F6F4E6;
}
.contents .deskripsi {
    background-color: #242424;
    border-radius: 0.3rem;
    padding: 2rem;
    width: 70vw;
    height: fit-content;
    margin: auto;
    text-align: center;
    margin-bottom: 3rem;
}
.contents .pengurus {
    font-size: 3rem;
    text-align: center;
    width: 100%;
    font-weight: 700;
}

/* BUTTON SHOW HIDE */
.contents button.judul {
    width: 100%;
    height: fit-content;
    background-color: #242424;
    border-radius: 0.3rem;
    color: white;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    text-align: start;
    border: none;
    margin: 1rem 0 0 0;
    font-weight: 700;
}
.contents button#tutup-bph {
    display: none;
}
.contents button#tutup-kreatif {
    display: none;
}
.contents button#tutup-humas {
    display: none;
}
.contents button#tutup-rohani {
    display: none;
}
.contents button#tutup-regional {
    display: none;
}

/* BOX */
.contents .box-wrap {
    background-color: #242424;
    border-radius: 0.3rem;
    width: 100%;
    height: fit-content;
    padding: 0 1rem 1rem 1rem;
    display: none;
}
.contents .horizontal-line {
    width: 100%;
    height: 0.3rem;
    background-color: #FFC60B;
    border-radius: 0.3rem;
    transition: 0.3s;
}

/* DATA ORANG */
.contents .wrap a {
    width: 50%;
    text-decoration: none;
    color: white;
}
.contents .berdua a {
    width: 70%;
    text-decoration: none;
    color: white;
}
.contents .box-orang {
    margin: 1rem auto 0 auto;
    border-radius: 0.3rem;
    padding: 1rem;
    background-color: #2C2D34;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: 0.3s;
}
.contents .berdua {
    display: flex;
    align-items: center;
    width: 100%;
}
.contents .berdua .box-orang {
    width: 95%;
}
.contents a:hover .box-orang {
    background-color: #FFC60B;
    color: #242424;
    transition: 0.3s;
}
.contents a:hover .horizontal-line {
    background-color: red;
    transition: 0.3s;
}
.contents .text {
    margin-left: 1rem;
    text-align: center;
    width: 100%;
}
.contents .text .angkatan {
    color: orange;
    transition: 0.3s;
}
.contents a:hover .angkatan {
    color: #242424;
    transition: 0.3s;
}
.contents .box-orang .horizontal-line {
    max-width: 18rem;
    margin: auto;
}
.contents .box-orang img {
    width: 100px;
    height: auto;
    border-radius: 50%;
}
.contents .wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    .contents .cont {
        width: 90vw;
        padding: 0;
    }
    
}
@media screen and (max-width: 768px) {
    .contents .cont {
        width: 90vw;
        padding: 0;
    }
    .contents .berdua {
        display: block;
    }
    .contents .wrap a {
        width: 100%;
    }
    .contents .wrap .box-orang {
        width: 70%;
    }
    .contents .berdua .box-orang {
        width: 70%;
    }
}
@media screen and (max-width: 576px) {
   
    .contents .wrap .box-orang {
        width: 100%;
    }
    .contents .berdua .box-orang {
        width: 100%;
    }
}
@media screen and (max-width: 350px) {
    .contents .image {
        display: none;
    }
    .contents .box-orang .text {
        margin-left: 0;
    }
}

.developer {
    background-color: #242424;
    height: fit-content;
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Share Tech', sans-serif;
}
.developer .head {
    display: flex;
}
.developer .head .judul {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
}
.developer .head .line {
    height: 100%;
    width: 0.3rem;
    border-radius: 0.3rem;
    background-color: #FFC60B;
}
.horizontal-line-judul {
    width: 80%;
    height: 5px;
    background-color: #FFC60B;
    border-radius: 0.5rem;
    margin: auto;
    display: none;
}

.developer .box {
    display: flex;
    align-items: center;
    background-color: #2C2D34;
    border-radius: 0.5rem;
    width: 100%;
    height: fit-content;
    color: white;
}
.developer .deskripsi {
    padding: 1rem 1rem 1rem 0;
    text-align: center;
}
.developer .gambar {
    padding: 1rem;
    display: flex;
    align-items: center;
}
.developer .gambar img {
    border-radius: 50%; 
    width: 100px;
    height: auto;
}
.developer .deskripsi {
    width: 100%;
}
.developer .deskripsi .text {
    display: flex;
    justify-content:space-evenly;
}
.developer .deskripsi .line-tegak {
    height: 100%;
    width: 1.5rem;
    border-radius: 0.3rem;
    background-color: white;
}
.developer .horizontal-line {
    width: 80%;
    height: 5px;
    background-color: #FFC60B;
    border-radius: 0.5rem;
    margin: auto;
}

.developer .deskripsi .keahlian {
    display: flex;
    justify-content: space-around;
    font-style: italic;
}
.developer .c {
    padding: 0.5rem;
    margin: 0.5rem 0;
}

@media screen and (max-width: 992px) {
    .developer .col-6 {
        width: 100%;
    }
}
@media screen and (max-width: 576px) {
    .developer .c {
        width: 100%;
    }
    .developer .head {
        display: block;
        text-align: center;
    }
    .developer .line {
        display: none;
    }
    .developer .horizontal-line-judul {
        display: block;
    }
}
@media screen and (max-width: 398px){
    .developer .deskripsi .text {
        display: block;
    }
    .developer .deskripsi .text .type1 {
        display: none;
    }
    .developer .deskripsi .keahlian {
        display: block;
    }
    .developer .box {
        display: block;
    }
    .developer .box img {
        margin: auto;
    }
    .developer .box .deskripsi {
        padding-left: 1rem;
    }
}
@media screen and (max-width: 330px){
    .developer .judul {
        margin-left: 0;
        letter-spacing: 0;
        text-align: center;
        font-size: 10vw; 
    }
    .developer .subjudul {
        margin-left: 0;
        letter-spacing: 0;
        text-align: center;
    }
    .developer .head .judul {
        margin-left: 0;
        font-size: 10vw;
    }
    .developer .horizontal-line-judul {
        display: none;
    }
}
@media screen and (max-width: 300px) {
    .developer .gambar {
        display: none;
    }
}

.footer {
    background-color: #242424;
    width: 100%;
    min-height: 40vh;
    height: fit-content;
    padding: 2rem 0;
    color: white;
    font-family: 'Share Tech', sans-serif;
    font-weight: 100;
    font-size: smaller;
}
.footer .button-saran {
    width: 100%;
    background-color: #2C2D34;
    border-radius: 0.3rem;
    padding: 1rem;
    text-align: start;
    color: white;
    height: fit-content;
    font-size: 1rem;
    border: 1px #2C2D34 solid;
}
.footer #tutup-saran {
    display: none;
}
.footer .saran {
    margin-top: 0.5rem;
    font-size: medium;
    border-radius: 0.3rem;
    background-color: #2C2D34;
    padding: 2rem 2rem 1rem 2rem;
}
.footer #saran {
    display: none;
}
.footer .saran form label {
    font-size: larger;
}
.footer .menu {
    margin: 1rem;
    font-size: medium;
}
.footer .sosmed {
    margin: 1rem 1rem 1rem auto;
    font-size: medium;
}
.footer .menu-line,
.footer .sosmed-line {
    background-color: #F6F4E6;
    opacity: 50%;
    border-radius: 0.5rem;
    width: 20rem;
    height: 0.3rem;
    margin-left: 0.5rem;
}
.footer .sosmed-line {
    margin-left: auto;
    margin-right: 0.5rem;
}
.footer .menu-item {
    display: flex;
    width: fit-content;
}
.footer .menu-item .item {
    margin: 1rem;
    text-align: center;
}
.footer .menu-item .item a {
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    transition: 0.3s;
}
.footer .menu-item .item a:link, 
.footer .menu-item .item a:visited {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}
.footer .menu-item .item a:hover {
    background-color: #FFC60B;
    transition: 0.3s;
    padding: 0.3rem 1rem;
    color: #242424;
}
.footer .sosmed-item {
    display: flex;
    justify-content: end;
    margin: 1rem 1rem 1rem auto;
}
.footer .sosmed-item .item {
    background-color: #F6F4E6;
    width: fit-content;
    padding: 0.5rem 0;
    margin: 0 0.5rem;
    border-radius: 0.3rem;
}
.footer .sosmed-item img {
    width: 20px;
    height: 20px;
    margin: 0 1rem;
}
.footer .footer-line {
    background-color: #F6F4E6;
    border-radius: 0.3rem;
    height: 0.3rem;
    width: 100%;
    margin-top: 3rem;
    opacity: 50%;
}
.footer .copyright {
    font-family: 'Share Tech', sans-serif;
    font-weight: 300;
    color: white;
    margin-top: 0.5rem;
}
@media screen and (max-width: 768px){
    .footer .menu,
    .footer .sosmed {
        text-align: center;
    }
    .footer .menu-line,
    .footer .sosmed-line {
        margin: auto;
        width: 70%;
    }
    .footer .menu-item,
    .footer .sosmed-item {
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 400px) {
    .footer .saran form label {
        display: none;
    }
}
@media screen and (max-width: 400px){
    .footer .menu-item {
        display: block;
    }
    .footer .sosmed-item {
        display: block;
        text-align: center;
    }
    .footer .sosmed-item .item {
        margin: 1rem auto;
    }
}